*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: black;
    border-radius: 50px;
    color: white;
    height: 840px;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result{
    height: 250px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pervious{
    opacity: 0.5;
    font-size: 30px;
    overflow: hidden;
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
    height: 100px;
    width: 100px;
    transition: filter 0.3s;
}

.acbutton,
.differentbutton,
.modbutton{
    color: black;
    background: #a5a5a5;   
}

.divisionbutton,
.multiplybutton,
.minusbutton,
.plusbutton{
    background: #f1a33c;    
}

.zerobutton{
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: center;
    width: 215px;
}

.button:hover{
    opacity: 0.5;
}